---
layout: default
---
  
     <head> 
           <style> 
                                             
              #frame { 
                  width: 950px; 
                  height: 700px; 
                  margin: -50px;              } 
           </style> 
                              
           <h4 style="color:#006400; font-size:24px;">
            House Distric Map</h4>
      </head> 
        
      <body style="background-color:#ffffff"> 
              <iframe  height ="100%" width="100%" 
               style="border:3px solid black;" 
             src="/assets/map_draft.html"  id="frame" ></iframe>
      </body> 
        
 