---
layout: default
---
  
     <head> 
           <style> 
                                             
              #frame { 
                  width: 300px; 
                  height: 200px; 
                  resize: both; 
              } 
           </style> 
                              
           <h4 style="color:#006400; font-size:24px;">
            Adjust width and height manually to fit 
            iframe content using CSS</h4>
      </head> 
        
      <body style="background-color:#ffffff"> 
              <iframe  height ="100%" width="100%" 
               style="border:3px solid black;" 
             src="/assets/map_draft.html"  id="frame" ></iframe>
      </body> 
        
 