---
layout: default
---
  
     <head> 
           <style> 
                                             
              #frame { 
                  width: 1200px; 
                  height: 700px;   
                  margin-left: -200px; 
                     } 
           </style> 
                              
           <h4 style="color:#006400; font-size:24px; margin-left: 50px;">
            House Distric Map</h4>
      </head> 
        
      <body style="background-color:#ffffff"> 
              <iframe  height ="100%" width="100%" 
               style="border:1px solid black;" 
             src="/assets/map_draft.html"  id="frame" ></iframe>
      </body> 
        
 